html {
  background-color: #fff;
}

body, div, img {
  margin: 0;
  padding: 0;
}

#wrap {
  overflow: hidden;
  min-width: 1080px;
}

header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 144px 0px 212px 0px;
  /* border-bottom: 2px solid #c0c0c0; */
}

header #group_area {
  position: relative;
  width: 170px;
  height: 225px;
  margin: 0 auto;
}

#profile {
  position:static;
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  background-image: url(../img/profile.jpg);
  height: 128px;
  width: 128px;
  margin: 0 auto;
}

#profile_text {
  position: relative;
  margin-top:10px;
}

#profile_text .profile_name {
  font-family: 'Jua', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

#profile_text .profile_desc {
  padding-left: 5px;
  padding-top: 2px;
  text-align: center;
  font-family: 'Gugi', cursive;
}

section {
  position: relative;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  border-top: 1px solid #ffffff;
}

section #stack_art {
  position: relative;
  height: 350px;
}

section #stack_art #stack_group {
  text-align: center;
}

#stack_group .stack_box {
  position: relative;
  display: inline-block;
  width: 207px;
  height: 276px;
  margin: 10px 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
  z-index: 1;
}

section #stack_art .stack_bgd {
  position: absolute;
  z-index: 0;
  width: 1150px;
  height:210px;
  bottom: 0px;
  left: 25px;
  background-color: #e5e5e5;
  border-radius: 25px 25px 0px 0px;
}

section #projects_art {
  background-color: #9788ba;
  height: 700px;
  border-radius: 15px;
  border-top: 1px solid #ffffff;
}
