html {
  background-color: #fff;
}

body, div, img {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}

#card_rope {
  position: absolute;
  top: 745px;
  width:100%;
  border-bottom: 2px solid #c0c0c0;
}

#wrap {
  overflow: hidden;
  min-width: 1080px;
}

header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 185px 0px 70px 0;
  /* border-bottom: 2px solid #c0c0c0; */
}

header #group_area {
  position: relative;
  width: 170px;
  height: 225px;
  margin: 0 auto;
}

#profile {
  position:static;
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  background-image: url(../img/profile.jpg);
  height: 128px;
  width: 128px;
  margin: 0 auto;
}

#profile_text {
  position: relative;
  margin-top:10px;
}

#profile_text .profile_name {
  font-family: 'Jua', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

#profile_text .profile_desc {
  padding-left: 5px;
  padding-top: 2px;
  text-align: center;
  font-family: 'Gugi', cursive;
}

header #message_area {
  position: relative;

  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
}

#message_area .message_body {
  height: 60px;
  padding: 15px;
  color: #fff;
  background-color: #666;

  font-size: 18px;
  text-align: center;
  font-family: 'Jua', sans-serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
}

#message_area .message_edge {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -12px;

  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #666;
}


section {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  border-top: 1px solid #ffffff;
}

section #stack_art {
  position: relative;
  height: 340px;
}

section #stack_art #stack_group {
  text-align: center;
  font-family: 'Gugi', cursive;
}

#stack_group .stack_box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 207px;
  height: 276px;
  margin: 10px 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
  z-index: 1;
}

.stack_box .stack_desc {
  text-align: left;
  padding: 10px 40px;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Gugi', cursive;
}

section #stack_art .stack_bgd {
  position: absolute;
  z-index: 0;
  width: 1100px;
  height:170px;
  bottom: 0px;
  left: 50px;
  background-color: #e5e5e5;
  border-radius: 40px 40px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
}

section #projects_art {
  position: relative;
  z-index: 1;
  background-color: #9788ba;
  height: 700px;
  border-radius: 15px;
  border-top: 1px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
}
